REDIS_URL=redis://192.168.1.76:6379/0
FERNET_KEY_PATH=./fernet/fernet.key
TEMP_UPLOAD_DIR=./UPLOADS/
DEFAULT_RATE_LIMIT_WINDOW=1
DEFAULT_HOST_CHECK_INTERVAL=30
DEFAULT_PROXY_TIMEOUT=10
DEFAULT_LOG_RETENTION_LINES=1000